include README.rst
include ChangeLog
include COPYING.MIT
include imread/lib/*cpp
include docs/source/*.rst
include imread/tests/data/pvrsamples/*.pvr
include imread/tests/data/pvrsamples/pngreference.png
include imread/tests/data/*.*
